<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Users</title>
</head>
<body>
    <div>
        <h1 class="text-center font-bold text-3xl text-gray-500 underline">View Users</h1>
        <p><%=user.firstName%></p>
    </div>
</body>
</html>